.virustotal_report {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.control {
  width: 15%;
  background: #e2dfdf;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .control {
    width: 15%;
    padding-top: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .control {
    width: 100%;
    padding: 20px 0;
  }
}

.btn a {
  background: #fff;
  border: 2px solid #327ebd;
  border-radius: 999px;
  color: #327ebd;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 21px;
  margin-top: 5px;
  text-decoration: none !important;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 80%;
}

.btn a:hover,
.btn a:focus,
.btn a:active {
  background-color: #327ebd;
  background-image: none;
  box-shadow: none;
  color: #ffffff;
}

.report.info {
  word-break: break-all;
}

.report.control .label {
  color: #327ebd;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding-bottom: 15px;
}
