{#
/**
 * @file virustotal_report.html.twig
 * Default theme implementation to present VirusTotal Report data.
 *
 * This template is used when viewing VirusTotal Report pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - content.report_url.uri: Direct link to the remote report.
 * - content.report_url: Direct link to the remote report URL object.
 * - content.get_scan_result_details: 'Get scan details' button from report control block.
 * - content.update_report: 'Update report' button from report control block.
 * - content.get_comments: 'Get comment' button from report control block.
 * - content.write_comment: 'Write comment' button from report control block.
 * - content.ip_info: 'Get IP info' button from report control block.
 *
 * @see template_preprocess_virustotal_report()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('virustotal_report') }}>
  {% if content%}
    <div class="report info">
    <div class="field__label">Report URL</div>
    {{ link(content.report_url.uri, content.report_url) }}
    {{- content|without('report_url', 'get_scan_result_details', 'write_comment', 'get_comments', 'update_report', 'ip_info')  -}}
</div>
<div class="report control">
    <div class="label">Report control</div>
    <div class="btn">{{ content.get_scan_result_details }}</div>
    <div class="btn">{{ content.update_report }}</div>
    <div class="btn">{{ content.get_comments }}</div>
    <div class="btn">{{ content.write_comment }}</div>
    <div class="btn">{{ content.ip_info }}</div>
</div>
{% endif %}
</div>